.card {
  padding: 1rem;
  background-color: #00a16e;
  flex-direction: column;
  color: #ddd;
  border-radius: 5px;
  text-align: left;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  box-shadow: #b8b2b2 3px 7px 9px 5px;
}

.card_img {
  text-align: center;
}

.card_img img {
  width: 150px;
}

.card_info {
  margin-bottom: 20px;
  position: relative;
}

.card_info input {
  width: 100%;
  display: block;
  margin: 10px 0;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  outline: none;
}

.card_info .role {
  padding: 10px 0;
  font-size: 12px;
}

.card .name {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(221, 221, 221, 0.394);
}

.card_years {
  margin-bottom: 20px;
}

.card .buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card.single {
  width: 400px;
  margin: 0 auto;
  text-align: left;
}

.card.single h2 {
  margin-bottom: 10px;
  text-align: center;
}