.card {
  width: 300px;
  padding: 1rem;
  background-color: #00a16e;
  flex-direction: column;
  color: #ddd;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 4px 4px 6px 3px;
  text-align: left;
}

.card p {
  margin: 0 0 .6rem 0;
}

.card h3 {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: bold;
}

.card .buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}