#root {
  width: 85%;
  margin: 0 auto;
  padding: 2rem 0;
  text-align: center;
  position: relative;

}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.login {
  margin-bottom: 20px;
}