.form {
    width: 300px;
    margin: 0 auto;
}

.form input {
    width: 300px;
    padding: 5px;
    font-size: inherit;
    font-family: inherit;
    margin: 10px;
    border: 1px solid #00a16e;
    outline: none;
    border-radius: 10px;
}